[tasks.build-macos-x86_64]
command = "cargo"
args = [
    "build",
    "--release",
    "--target",
    "x86_64-apple-darwin",
    "--features",
    "packaging",
    "--locked",
    "--bin",
    "send-aml-reports",
    "--bin",
    "validate-reports",
]

[tasks.build-macos-aarch64]
command = "cargo"
args = [
    "build",
    "--release",
    "--target",
    "aarch64-apple-darwin",
    "--features",
    "packaging",
    "--locked",
    "--bin",
    "send-aml-reports",
    "--bin",
    "validate-reports",
]

[tasks.build-windows-x86_64]
command = "cargo"
args = [
    "zigbuild",
    "--release",
    "--target",
    "x86_64-pc-windows-gnullvm",
    "--features",
    "packaging",
    "--locked",
    "--bin",
    "send-aml-reports",
    "--bin",
    "validate-reports",
]

[tasks.build-windows-aarch64]
command = "cargo"
args = [
    "zigbuild",
    "--release",
    "--target",
    "aarch64-pc-windows-gnullvm",
    "--features",
    "packaging",
    "--locked",
    "--bin",
    "send-aml-reports",
    "--bin",
    "validate-reports",
]


[tasks.build-all]
dependencies = [
    "build-macos-x86_64",
    "build-macos-aarch64",
    "build-windows-x86_64",
    "build-windows-aarch64",
]

[tasks.dist]
script = """
    mkdir -p dist
"""

[tasks.package-macos-x86_64]
script = """
    rm -rf dist/aml-reports-macos-intel
    mkdir -p dist/aml-reports-macos-intel
    mv target/x86_64-apple-darwin/release/send-aml-reports \
        target/x86_64-apple-darwin/release/validate-reports \
        dist/aml-reports-macos-intel
"""
dependencies = ["build-macos-x86_64", "dist"]

[tasks.package-macos-aarch64]
script = """
    rm -rf dist/aml-reports-macos-arm
    mkdir -p dist/aml-reports-macos-arm
    mv target/aarch64-apple-darwin/release/send-aml-reports \
        target/aarch64-apple-darwin/release/validate-reports \
        dist/aml-reports-macos-arm
"""
dependencies = ["build-macos-aarch64", "dist"]

[tasks.package-windows-x86_64]
script = """
    rm -rf dist/aml-reports-windows-intel
    mkdir -p dist/aml-reports-windows-intel
    mv target/x86_64-pc-windows-gnullvm/release/send-aml-reports.exe \
        target/x86_64-pc-windows-gnullvm/release/validate-reports.exe \
        dist/aml-reports-windows-intel
"""
dependencies = ["build-windows-x86_64", "dist"]

[tasks.package-windows-aarch64]
script = """
    rm -rf dist/aml-reports-windows-arm
    mkdir -p dist/aml-reports-windows-arm
    mv target/aarch64-pc-windows-gnullvm/release/send-aml-reports.exe \
        target/aarch64-pc-windows-gnullvm/release/validate-reports.exe \
        dist/aml-reports-windows-arm
"""
dependencies = ["build-windows-aarch64", "dist"]


[tasks.package-all]
dependencies = [
    "package-macos-x86_64",
    "package-macos-aarch64",
    "package-windows-x86_64",
    "package-windows-aarch64",
]
script = """
    VERSION=v$(cargo metadata --format-version=1 --no-deps | jq --raw-output '.packages[0].version')

    mv "dist/aml-reports-windows-arm/send-aml-reports.exe" "dist/aml-reports-windows-arm/send-aml-reports-${VERSION}.exe"
    mv "dist/aml-reports-windows-arm/validate-reports.exe" "dist/aml-reports-windows-arm/validate-reports-${VERSION}.exe"
    mv "dist/aml-reports-windows-arm" "dist/aml-reports-windows-arm-${VERSION}"

    mv "dist/aml-reports-windows-intel/send-aml-reports.exe" "dist/aml-reports-windows-intel/send-aml-reports-${VERSION}.exe"
    mv "dist/aml-reports-windows-intel/validate-reports.exe" "dist/aml-reports-windows-intel/validate-reports-${VERSION}.exe"
    mv "dist/aml-reports-windows-intel" "dist/aml-reports-windows-intel-${VERSION}"

    mv "dist/aml-reports-macos-arm/send-aml-reports" "dist/aml-reports-macos-arm/send-aml-reports-${VERSION}"
    mv "dist/aml-reports-macos-arm/validate-reports" "dist/aml-reports-macos-arm/validate-reports-${VERSION}"
    mv "dist/aml-reports-macos-arm" "dist/aml-reports-macos-arm-${VERSION}"

    mv "dist/aml-reports-macos-intel/send-aml-reports" "dist/aml-reports-macos-intel/send-aml-reports-${VERSION}"
    mv "dist/aml-reports-macos-intel/validate-reports" "dist/aml-reports-macos-intel/validate-reports-${VERSION}"
    mv "dist/aml-reports-macos-intel" "dist/aml-reports-macos-intel-${VERSION}"

    rm -rf dist/aml-reports-${VERSION}.zip

    cd dist && zip -r aml-reports-${VERSION}.zip \
        aml-reports-windows-arm-${VERSION} \
        aml-reports-windows-intel-${VERSION} \
        aml-reports-macos-arm-${VERSION} \
        aml-reports-macos-intel-${VERSION}
"""

[tasks.all]
dependencies = ["package-all"]

[tasks.default]
alias = "all"
